@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));


html {
    scroll-padding-top: 6rem; /* adjust based on your navbar height */
    scroll-behavior: smooth;
}

.main_cont {
    @apply
    flex
    flex-col
    bg-zinc-50
    inset-shadow-sm
    inset-shadow-indigo-300
}

.bttn {
    @apply
    w-24
    h-12
    font-mono
    text-lg
    transition
    delay-50
    duration-200
    transform
    shadow-xs
    rounded-lg
    bg-sky-50/10
    dark:text-white
    dark:bg-blue-700/20
}

.bttn:hover {
    @apply
    cursor-pointer
    shadow-lg
    shadow-indigo-200/80
    dark:shadow-white/20
}

.hero {
    @apply
    text-black
    font-mono
    leading-relaxed
    tracking-wide
    font-sans
}

.text-primary {
    @apply
    text-black
    font-mono
}

.zoom {
    @apply
    transition-transform duration-200 hover:scale-108
    hover:cursor-pointer
}
